server:
  port: 8288
spring:
  datasource:
    url: jdbc:mysql:///account2
    username: root
    password: root
    driver-class-name: com.mysql.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  application:
    name: luck-account2

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

mybatis:
  type-aliases-package: com.lqh.dev.domain
  mapper-locations: classpath:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
mapper:
  mappers: com.lqh.dev.base.BaseMapper
  identity: mysql
logging:
  level:
    com:
      lqh:
        dev:
          mapper: debug
